/* General Styles */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: white;
    text-align: center;
}

/* Header Styles starts */

.header{
    
    background: url(imagenes/fondo.jpeg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1000;
     
}


.header  .navbar{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.507); /* Asegúrate de que la transparencia sea la correcta */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%; /* Ajusta este valor según el tamaño deseado del navbar */
    width: 100%;
    position: fixed; /* Si deseas que se mantenga en su posición */
    z-index: 100;
    font-size: 1rem;
    top: 0; left: 0; right: 0;
}

.header  .navbar a{
    text-decoration: none;
}

.header .navbar a:hover {
    background-color: rgb(152, 51, 172);
    
}
/* Header Styles ends*/




p {
    margin-bottom: 40px;
    font-size: 1.1rem;
    padding: 0 100px;
}

a.btn-saber-mas {
    color: white;
    text-decoration: none;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.saw {
    font-size: 80%;
    height: max-content;
    padding: 7%;
    background: #222121;
}

.about {
    background: rgb(24, 22, 22);
    text-align: center;
    align-items: center;
    font-size: 100%;
}

.price {
    background: url(imagenes/precio.webp) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.contain p {
    background-color: rgba(48, 47, 47, 0.3);
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding: 2rem
    
}

.carousel-item {
    height: 300px;
    /* Ajusta la altura*/
    /* Asegura que el fondo sea negro,  background-color: black; */
 }


.carousel-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#carouselPostres .carousel-item img,
#carouselTortas .carousel-item img,
#carouselMasitas .carousel-item img {
    width: 100%;
    /* Asegura que las imágenes ocupen el 100% del ancho */
    height: 100%;
    /* Ajusta la altura para ocupar todo el contenedor */
    object-fit: cover;
    /* Ajusta para cubrir completamente el área */
}
#carouselPostres .carousel-item img,
#carouselTortas .carousel-item img,
#carouselMasitas .carousel-item img,
.carousel-inner:hover{
transform: scale(1.1);/*Escala el tamaño de la imagen al 120% de su tamaño original (1.2 = 120%), permitiendo un efecto zoom*/
}





.content.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 5%;
    
}


.ubicacion h4,
.tel h4 
.redes {
    margin-bottom: 10px;
}

/*.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.contact-item i {
    font-size: 20%;
    margin-right: 10px;
    color: white;
}

.contact-item p {
    margin: 0;
} */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#autor {
    text-align: right;
    color: black;
}












@media all and (min-width: 353px) {}


/* Redes

i {
    font-size: 20px;
}
.redes a i {
    font-size: 25px;
    background-color: rgba(48, 47, 47, 0.5);
    border-radius: 40%;
    padding: 8px; 
    margin: 2px; 
    color: rgb(255, 255, 255);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} */
.social-media {
    display: flex;
    gap: 20px;
  }
  
  .icon {
    text-decoration: none;
    color: black; /* color inicial */
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2); /* Agranda el ícono */
  }
  
  .facebook:hover {
    color: #4267B2; /* Color de Facebook */
  }
  
  .instagram:hover {
    color: #C13584; /* Color de Instagram */
  }
  
  .twitter:hover {
    color: #1DA1F2; /* Color de Twitter */
  }
  