* {

    margin: 0 ;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
     color: white;
}


.content .section-title {
    
    font-size: 30px;
    margin-bottom: 40px;
    
}

body{
    text-align: center;
    font-family: sans-serif;
    
}


p{ 
    margin-bottom: 40px;
    font-size: 18px;
    padding: 0 100px;
}

 
/* Barra de navegación */
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed; /* Posiciona la parte de arriba para que si movemos hacia abajo quede posicionada en el mismo sitio*/
    width: 100%;
    z-index: 100; /*Hace que se posicione adelante de cualquier elemento*/
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
     background-color: rgb(152, 51, 172);
     padding: 11px 20px;
    text-align: left;
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    height: 70vh !important;
    background: url(Imagenes/cea9ef194827e65b0a6707882db0b0cb.jpeg) no-repeat center;
    background-size: cover;
    color: white;
}


/*title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600px  ;
    text-transform: uppercase;
    
}*/


.content header{
    padding-bottom: 20px;
}


.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.saw{
    height: max-content;
    padding: 30px;
    background:#222121
    
}



.about {
    background: rgb(24, 22, 22);
}


.price{
    background: url(Imagenes/precio.webp) no-repeat;
    background-attachment: fixed;background-size: cover;
    text-align: center;
}


/* Zona de "Contacto"*/
.contact {
    padding-top: 20px;
    background-color: rgb(22, 22, 22);
    
 }
#autor{ 
    margin-bottom: 30px;
    text-align: right;
    color: black;
}


/* Carrusel*/
.carousel-inner {
    width: 100%;
}

.carousel-item img {
    max-width: 150%;
    height: auto;
    max-height: 220px; 
    object-fit: cover; 
}

#carouselPostres .carousel-item img,
#carouselTortas .carousel-inner img,
#carouselMasitas .carousel-inner img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover;
}



.medios a {
    
    margin-right: 40px; 
    padding-top: 9px;
}

.medios i {
    display: flex;  
    font-size: 25px; 
}


/*Catalogo*/

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.description {
    text-align: center;
}



